<nav id="nav-header">
    <ul>
        <li><a href="../index.ejs">Home</a></li>
        <li><a href="../blogs">Blogs</a></li>

    </ul>
</nav>
<h1>A Rather Indifferent Blog</h1>
<h2>Written by Someone Indifferent</h2>