<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Blogs</title>
</head>
<body>

<%- include("./partials/header") %>

    <section id="content">
        <div id="blogs">
            <h2>BLOGS GO HERE</h2>
        </div>
    </section>

<%- include("./partials/footer") %>

</body>
</html>