<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
</head>
<body>
    <%- include("./partials/header")%>

    <h1>I am sorry to say, an error has occurred.</h1>

    <%- include("./partials/footer")%>
</body>
</html>