<html lang="en">
<head>
    <title>?</title>
    <link rel="stylesheet" href="/stylesheets/global.scss" lang="scss">
</head>

<body>

<%- include("./partials/header") %>

<h1>HOME</h1>

<%- include("./partials/footer") %>

</body>
</html>