header {
	nav {
		background-color: gainsboro;
	}
}

main {
	.body-lead {
	
	}
	.body-main {
	
	}
	.body-special {
	
	}
	
	nav { // For navigation inside a blog post / longer text bodies, etc.
		width: 60%;
		min-height: 20vh;
		background-color: navyblue;
	}
}

footer {

}

links {
	img {
		max-height: 45px;
	}
}